.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(243, 246, 248);
    margin: 100px 560px;
    padding: 70px ;
    background-image: linear-gradient( to right, rgb(216, 18, 133), rgb(200, 38, 206), rgb(189, 41, 202), rgb(107, 107, 236) );
    border-radius: 75px;
    border: 5px #000;
    
}   

button {
    width: 90px;
    color: rgb(247, 239, 239);
    font-size: larger;
    background-color: rgb(221, 140, 204);
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
};

